@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mooli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* This will remove scrollbars */
  margin: 0;
  text-align: justify;

}

div {
  margin: 4%
}


img {
  width: 10vw;
}

.btn {
  width: 11vw;
  height: 4vh;
}

button:hover {
  background-color: #ddd;
  cursor: pointer;
}